{% extends 'base.html' %}

{% block content %}

<p>To use this website, there are some activities you should have performed:
    <ul>
    <li>The image should be 3D. If you have 2D images available convert all to 3D, creating an image volume</li>
    <li>Your 3D image should be cropped propperly since the main focus is the region of interest, where that region is the location of the lesion</li>
    <li>The 3D images should be converted to numpy arraries i.e have .npy file extension</li>
    </ul>
</p>

{% endblock %}